
<section className="services">
    <h2>What We Do</h2>
    <div className="services-container">
      <div className="service-item">
        <div className="service-icon">
          <img src="https://img.freepik.com/premium-vector/circular-marketing-icon_1453-93.jpg" alt="Marketing & SEO" />
        </div>
        <h3>Marketing & SEO</h3>
        <p>Expand your online reach with our marketing and SEO services.</p>
        <a href="#quote" className="btn-ser ">Learn More</a>
      </div>
      <div className="service-item">
        <div className="service-icon">
          <img src="https://cdn-icons-png.flaticon.com/512/295/295134.png" alt="Startup Agency" />
        </div>
        <h3>Startup Agency</h3>
        <p>Get the right start with expert advice and services for startups.</p>
        <a href="#quote" className="btn-ser ">Learn More</a>
      </div>
      <div className="service-item">
        <div className="service-icon">
          <img src="https://cdn-icons-png.flaticon.com/512/7713/7713554.png" alt="Corporate Business" />
        </div>
        <h3>Finance Solution</h3>
        <p>Helping corporate businesses grow with tailored solutions.</p>
        <a href="#quote" className="btn-ser ">Learn More</a>
      </div>
      <div className="service-item">
        <div className="service-icon">
          <img src="https://cdn-icons-png.flaticon.com/512/13366/13366308.png" alt="Corporate Business" />
        </div>
        <h3>Corporate Business</h3>
        <p>Helping corporate businesses grow with tailored solutions.</p>
        <a href="#quote" className="btn-ser ">Learn More</a>
      </div>
      <div className="service-item">
        <div className="service-icon">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQONogOvYCrlyBzgs8gCDdBYIkTGKqmA9EFOg&s" alt="Corporate Business" />
        </div>
        <h3>Travel Agency</h3>
        <p>Helping corporate businesses grow with tailored solutions.</p>
        <a href="#quote" className="btn-ser ">Learn More</a>
      </div>
      <div className="service-item">
        <div className="service-icon">
          <img src="https://www.freeiconspng.com/thumbs/restaurant-icon-png/restaurant-icon-png-7.png" alt="Corporate Business" />
        </div>
        <h3>Food and Restaurant</h3>
        <p>Helping corporate businesses grow with tailored solutions.</p>
        
      </div>
      
      

    </div>